/* Global Settings */

// Tags
body {
  @include normal();
  font-family: $font;
  color: $primary;
}

#site-wrapper {
  position: initial;
  background: $background;
}

.page {
  padding: $pad * 2;
}

h1 {
  @include loud();
  padding: 0 0 $pad;
  font-family: $font;
}

h2 {
  @include strong();
  padding: 0 0 $pad;
  font-family: $font-secondary;
  color: $primary;
}

h3 {
  @include bold();
  padding: 0 0 $pad;
  font-family: $font;
  font-weight: 200;
}

p {
  @include normal();
  color: $primary;
}

a {
  color: $primary;
  // reset color with variable
  text-decoration: none;
}

span {
  font-family: $font;
  @include quiet();
}

button {
	@include bold();
	font-family: $font;
  color: $primary;
  background: transparent;
  border: 0;
  padding: 0;
}

ul {
  padding: 0 0 $pad;

  li {
    padding: 0 0 $pad/2;
  }
}

textarea {
  min-height: 100px;
  min-width: 100px;
  resize: none;
}

input {
  padding: $pad/2;
  margin: $pad 0;
  border: 1px solid $primary;
  border-radius: 5px;
}

input[type="submit"] {
  width: auto;
  background: $blue;
  border-radius: 5px;
  color: $white;
  padding: $pad/2 $pad;
}

