.about {
  display: flex;
  padding: $pad * 2;
  flex-direction: column;

  @include bp(1) {
    flex-direction: row;
  }

  &-image {
    position: relative;
    width: 100%;

    @include bp(1) {
      width: 35%;
      padding-right: $pad;
    }

    img {
      max-width: 100%;
      max-height: 400px;
    }
  }

  &-text {
    width: 100%;
    padding-top: $pad;
    margin-top: $pad * 2;
    border-top: 5px solid $blue;

    @include bp(1) {
      width: 65%;
      margin-top: 0;
      padding-left: $pad;
      border-top: 0;
      border-left: 5px solid $blue;
    }
  }
}