.home {
  position: relative;
  width: 100%;
  background: $white;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  flex-direction: row;

  @include bp(2) {
    height: calc(100vh - $nav);
    margin-bottom: $pad;
  }
}

.admin-showing {
  @include bp(2) {
    height: calc(100vh - $nav - 32px);
  }
}

.home-about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: $pad;

  @include bp(2) {
    width: 40%;
    height: calc(100vh - $nav);
    padding: $pad * 2;
  }

  @include bp(4) {
    width: 30%;
  }

  @include bp(5) {
    width: 25%;
  }

  .profile {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    margin-bottom: $pad;
  }

  img {
    max-width: 150px;
  }

  span {
    color: $blue;
  }

  h3 {
    color: $blue;
  }

  p {
    color: $blue;
    padding-bottom: $pad;
  }
}

.home-player {
  position: relative;
  background: $blue;
  width: 100%;
  height: 300px;

  @include bp(2) {
    width: 60%;
    height: calc(100vh - $nav);
  }

  @include bp(4) {
    width: 70%;
  }

  @include bp(5) {
    width: 75%;
  }

  &-block {
    padding: $pad;
    background: $blue;

    @include bp(1) {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: $pad * 2;
      background: none;
    }
  }

  &-sub {
    @include strong();
    padding: 0 $pad/2;
    color: $blue;
    text-shadow: 5px 5px 10px $black;
  }

  &-title {
    @include loud();
    padding: 0;
    color: $white;
    text-shadow: 5px 5px 20px $black;

    @include bp(1) {
      color: $white;
    }
  }
}
