.footer {
  @include flex(row, wrap, space-between, center);
  width: 100%;
  text-align: center;
  background: $secondary;
  padding: $pad;
  position: absolute;
  bottom: 0;

  .col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33.33%;
    height: 75px;

    li {
      @include quiet();
      color: $black;
      line-height: 1.4;
      a {
        @include quiet();
      }
    }

    img {
      width: 60px;
      object-fit: cover;
      margin: 0 auto;
    }

    .theknot {
      width: 20px;
      height: 20px;
      border-radius: 10px;
    }
  }

  ul:first-child {
    align-items: start;
  }

  ul:last-child {
    align-items: end;
  }
}
