.sticky-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: z("peak");
  background: $primary;
  box-shadow: $shadow;
  will-change: transform;
}

.menu {
  @include flex(row, nowrap, space-between, center);
  position: relative;
  width: 100%;
  height: $nav;
  z-index: 1;
  padding: 0 $pad;

  &-logo {
    @include flex(row, nowrap, center, center);
    position: relative;
    height: 100%;

    a,
    img {
      height: 100%;
    }
  }

  &-switch {
    @include strong();
    position: relative;
    margin: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      color: $tertiary;
      font-size: 24px;
    }

    svg {
      fill: $tertiary;
    }

    &:hover {
      opacity: 0.8;
    }

    &-invert {
      svg {
        fill: $tertiary;
      }
    }
  }
}

// Toggle menu - available on all screen sizes
.menu-content {
  background: $primary;
  position: fixed;
  top: $nav;
  right: -100%;
  padding-top: $pad;
  height: calc(100vh - #{$nav});
  width: 65%;
  max-width: 400px;
  box-shadow: $shadow;
  transition: all ease 0.5s;
  z-index: z("peak") - 1;

  &-links {
    @include flex(column, nowrap, flex-start, flex-start);
    padding: $pad;
    gap: $pad;

    a {
      color: $tertiary;
      font-size: 1.2em;
      padding: calc($pad/2) 0;
    }
  }

  .social {
    @include flex(row, nowrap, center, center);
    margin: $pad;
    gap: $pad;

    li {
      padding: $pad;
    }

    .theknot {
      width: 20px;
      height: 20px;
      border-radius: 10px;
    }
  }
}

.background {
  background: $tertiary;
  box-shadow: $shadow;
  transition: all ease-in-out 0.5s;

  a {
    color: $primary;
  }

  .schedule {
    border: 1px solid $primary;
  }
}

.invert a {
  color: $primary;
}

.hide {
  display: none;
}

.show {
  right: 0;
}
  