.home {
  position: relative;
  width: 100%;
  background: $tertiary;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}

.home-about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: $pad;

  @include bp(2) {
    width: 40%;
    height: calc(100vh - $nav);
    padding: $pad * 2;
  }

  @include bp(4) {
    width: 30%;
  }

  @include bp(5) {
    width: 25%;
  }

  .profile {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    margin-bottom: $pad;
  }

  img {
    max-width: 150px;
  }

  span {
    color: $secondary;
  }

  h3 {
    color: $secondary;
  }

  p {
    color: $secondary;
    padding-bottom: $pad;
  }
}
