/** LAYOUT MIXINS **/
@mixin flex($d, $w, $j, $a) {
  display: flex;
  flex-direction: $d;
  flex-wrap: $w;
  justify-content: $j;
  align-items: $a;
}

/** Positioning: z-index **/
$root: -10;
$below: -1;
$base: 0;
$above: 1;
$top: 2;
$peak: 10;

$z-layers: (
  "root": $root,
  "below": $below,
  "base": $base,
  "above": $above,
  "top": $top,
  "peak": $peak,
  "modal": (
    "tooptip": 5002,
    "content": 5001,
    "overlay": 5000
  ),
  "admin-header": 6000
);

@function z($layer) {
  @return map-get($z-layers, $layer);
}

/** USAGE
 ** reference: https://www.sitepoint.com/better-solution-managing-z-index-sass/
   z-index: z('top');
   or
   z-index: z('modal', 'content');
**/

// $hover animations - (check for hover - or don't add it)
@mixin hover-setup() {
  @media (hover: hover) {
    @content;
  }
}
@mixin on-hover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}
