#main {
    background-color: $secondary;
    padding: $pad;
    position: relative;
    min-height: 100vh;

    .entry {
        &-title {
            color: $tertiary;
        }

        &-content {
            p {
                color: $tertiary;
            }
        }
    }
}

