h1 {
  @include loud();
  color: $primary;
  font-family: "Playfair Display", serif;
}

h2,
h3 {
  @include strong();
  color: $primary;
  font-family: "Ms Madi", cursive;
}

h4 {
  @include normal();
  color: $primary;
  font-family: "Poppins", sans-serif;
}

p,
a,
label,
button,
li {
  @include normal();
  color: $primary;
  font-family: "Poppins", sans-serif;
}

label {
  min-width: 50px;
}

input,
textarea {
  width: 100%;
  border: 2px solid $primary;
  padding: calc($pad/2);
}

input[type="radio"] {
  min-width: 50px;
}

input[type="checkbox"] {
  min-width: 50px;
}

.button-full,
.link {
  width: 100%;
  background: $primary;
  padding: calc($pad/2) $pad;
  color: $secondary;
}

.page {
  position: relative;
}
