// Layout
$nav: 75px;
$pad: 30px;
$radius: 10px;

$shadow: 0 0 35px rgba(0, 0, 0, 1);

// Pallet
$black: #1c1c1c;
$white: #ffffff;
$gray: #eef0f2;
$pink: #fae8eb;

// Colors
$primary: $white;
$secondary: $gray;
$tertiary: $black;
$accent: $pink;
